@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("inoreader.com")
{
    /********************* Top Bar - Start ********************/
    /* hide prev/next buttons */
    #subscriptions_buttons #sb_rp_prev_article, #subscriptions_buttons #sb_rp_next_article
    {
        display: none !important;
    }
    /********************* Top Bar - End **********************/



    /************** Left Navigation Tree - Start **************/
    /* reduce padding-top of the navigation tree */
    #tree_pane > #subscriptions_nav
    {
        padding-top: 0 !important;
    }

    /* change unread count forecolor */
    #tree_pane span.unread_cnt, #tree_pane span.icon-checkmark
    {
        color: #D24231 !important;
    }

    /* add padding-bottom of the navigation tree  */
    #tree_pane #tree
    {
        padding-bottom: 30px !important;
    }
    /*************** Left Navigation Tree - End ***************/



    /******************* Content Area - Start *****************/
    /* (list view) add space between article headers */
    #reader_pane.reader_pane_view_style_0 > div.ar
    {
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }

    /* (list view) add padding to article headers */
    #reader_pane.reader_pane_view_style_0 > div.ar div.article_header > div
    {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }













    /* (tile view) reduce margin-top of article tiles */
    #reader_pane.reader_pane_view_style_3 > div.article_tile
    {
        margin-top: 20px !important;
    }

    /* remove padding-top from the article content area */
    div.article_full_contents
    {
        padding-top: 0 !important;
    }

    /* remove margin from the article title */
    div.article_full_contents > div.article_title
    {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    /* reduce margin-top of the article sub title */
    div.article_full_contents > div.article_sub_title
    {
        margin-top: 8px !important;
    }

    /* reduce padding-bottom of the article content */
    div.article_full_contents > div.article_content
    {
        padding-bottom: 0 !important;
    }

    /* reduce margin-top of the article content */
    div.article_full_contents > div.article_content > p:first-child
    {
        margin-top: 8px !important;
    }

    /* reduce margin-bottom of the article content */
    div.article_full_contents > div.article_content > p:last-child
    {
        margin-bottom: 0 !important;
    }

    /* change the forecolor of all visited links in article content area */
    div.article_full_contents > div.article_content a:visited
    {
        color: #554FCA !important;
    }
    /******************** Content Area - End ******************/







1、列表：
闭合、未读 ar          article_current article_current_collapsed article_unreaded
闭合、已读 ar article  article_current article_current_collapsed

展开、未读 ar          article_current article_expanded ar_showed article_unreaded
展开、已读 ar article  article_current article_expanded ar_showed


2、方块

未读、未选中ar         ar_showed article_tile radius article
未读、选中  ar         ar_showed article_tile radius article article_current
闭合、未读 ar          ar_showed article_tile radius article_expanded article_unreaded
闭合、已读 ar article  ar_showed article_tile radius
           ar          ar_showed article_tile radius article



    /* Feed 高亮 */
    .ar:not(.article_expanded):not(.article_card):hover,
    .ar:not(.article_card).article_expanded > .article_header:hover
    {
        box-shadow: 0px 0px 1mm 1px #2E9AFE !important;
    }

    /* Feed 正文标题栏高亮 */
    .ar.article_expanded:not(.article_card) > .article_stripe.article_stripe_read+.article_header
    {
        background-color: #F0F0F0 !important;
    }

    /* 闭合状态、已读 Feed 高亮 */
    .ar:not(.article_unreaded):not(.article_expanded):not(:hover)
    {
        background-color: #F0F0F0 !important;
    }

    /* 闭合状态、已读、当前选中 Feed 高亮 */
    .ar.article_current_collapsed:not(.article_unreaded):not(:hover)
    {
        background-color: #FFE8C4 !important;
    }
}